<a href="https://colab.research.google.com/github/MariaElisaOliveiraMartins/DS_Analises/blob/main/Conexao_df_(01)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Olist - Gerando Matriz de Conexões



A base de dados utilizada nesta análise foi publicada e obtida pelo Kaggle, a qual foi oferecida pela empresa de e-commerce Olist, como conbribuição à comunidade de Data Science.

A modelagem do banco e os metadados estão descritos nos desafios propostos pela Olist dentro do portal do Kaggle.

## Objetivo : gerar um dataframe de conexão contendo os ids de todos os principais dataframes da base da Olist.

Acesso ao Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Bibliotecas utilizadas nessa análise

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sbn 
from matplotlib import pyplot as plt

Carga e apresentação dos arquivos

In [ ]:
# Arquivo de Items
df_items = pd.read_excel('/content/drive/My Drive/Dados_DS/Dados Olist/olist_order_items_dataset.xlsx')

In [ ]:
bkp_items = df_items.copy()

In [ ]:
#df_items = bkp_items.copy()

In [ ]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [ ]:
df_items

                                order_id  order_item_id  ...  price freight_value
0       7f39ba4c9052be115350065d07583cac              1  ...  895.0         21.02
1       9dc8d1a6f16f1b89874c29c9d8d30447              1  ...  895.0         21.02
2       d455a8cb295653b55abda06d434ab492              1  ...  895.0         21.02
3       006e43460a55bc60c0a437521e426529              1  ...   99.0         43.06
4       00dfb074b5c910fbd08e04691c4b712f              1  ...   99.5         35.07
...                                  ...            ...  ...    ...           ...
112645  d01c5b46e00bd214519fe9f64bbb2649              1  ...   79.0         14.72
112646  d437ec1ece70f3e35d2695adfeb8a272              1  ...   52.5         18.96
112647  d815bd2c2bdd79e4c0e0263caa986d66              1  ...   52.5         17.11
112648  df537c849af44beef86a7ef7de12126a              1  ...   29.4         10.96
112649  fdb3ef83ea6f7bef7d13bdd9b38da661              1  ...  109.2         13.34

[112650 rows x 7 columns]

In [ ]:
df_items['order_item_id'].value_counts()

1     98666
2      9803
3      2287
4       965
5       460
6       256
7        58
8        36
9        28
10       25
11       17
12       13
13        8
14        7
15        5
20        3
16        3
17        3
18        3
19        3
21        1
Name: order_item_id, dtype: int64

In [ ]:
df_items[(df_items['order_item_id'] == 21)]

                               order_id  order_item_id  ... price freight_value
19789  8272b63d03f5f79c56e9e4120aec44ef             21  ...   7.8          6.57

[1 rows x 7 columns]

In [ ]:
linha = df_items[(df_items['order_item_id'] == 21)]
nro_pedido = linha.iloc[0,0]
nro_pedido

'8272b63d03f5f79c56e9e4120aec44ef'

In [ ]:
df_lista_itens = df_items[df_items['order_id'] == nro_pedido]
df_lista_itens

                               order_id  order_item_id  ... price freight_value
19769  8272b63d03f5f79c56e9e4120aec44ef              1  ...   1.2          7.89
19770  8272b63d03f5f79c56e9e4120aec44ef              2  ...   1.2          7.89
19771  8272b63d03f5f79c56e9e4120aec44ef              3  ...   1.2          7.89
19772  8272b63d03f5f79c56e9e4120aec44ef              4  ...   1.2          7.89
19773  8272b63d03f5f79c56e9e4120aec44ef              5  ...   1.2          7.89
19774  8272b63d03f5f79c56e9e4120aec44ef              6  ...   1.2          7.89
19775  8272b63d03f5f79c56e9e4120aec44ef              7  ...   1.2          7.89
19776  8272b63d03f5f79c56e9e4120aec44ef              8  ...   1.2          7.89
19777  8272b63d03f5f79c56e9e4120aec44ef              9  ...   1.2          7.89
19778  8272b63d03f5f79c56e9e4120aec44ef             10  ...   1.2          7.89
19779  8272b63d03f5f79c56e9e4120aec44ef             11  ...   1.2          7.89
19780  8272b63d03f5f79c56e9e4120aec44ef             12  ...   1.2          7.89
19781  8272b63d03f5f79c56e9e4120aec44ef             13  ...   1.2          7.89
19782  8272b63d03f5f79c56e9e4120aec44ef             14  ...   1.2          7.89
19783  8272b63d03f5f79c56e9e4120aec44ef             15  ...   1.2          7.89
19784  8272b63d03f5f79c56e9e4120aec44ef             16  ...   1.2          7.89
19785  8272b63d03f5f79c56e9e4120aec44ef             17  ...   1.2          7.89
19786  8272b63d03f5f79c56e9e4120aec44ef             18  ...   1.2          7.89
19787  8272b63d03f5f79c56e9e4120aec44ef             19  ...   1.2          7.89
19788  8272b63d03f5f79c56e9e4120aec44ef             20  ...   1.2          7.89
19789  8272b63d03f5f79c56e9e4120aec44ef             21  ...   7.8          6.57

[21 rows x 7 columns]

In [ ]:
df_lista_itens['product_id'].value_counts()

05b515fdc76e888aada3c6d66c201dff    10
270516a3f41dc035aa87d220228f844c    10
79ce45dbc2ea29b22b5a261bbb7b7ee7     1
Name: product_id, dtype: int64

In [ ]:
df_lista_itens['seller_id'].value_counts()

2709af9587499e95e803a6498a5a56e9    21
Name: seller_id, dtype: int64

In [ ]:
df_items['order_id'].value_counts()

8272b63d03f5f79c56e9e4120aec44ef    21
ab14fdcfbe524636d65ee38360e22ce8    20
1b15974a0141d54e36626dca3fdc731a    20
428a2f660dc84138d969ccd69a0ab6d5    15
9ef13efd6949e4573a18964dd1bbe7f5    15
                                    ..
eb61a98487395d9b7a135acd3d6905a5     1
7b1b657e9cd1e1d807d0b89c08431139     1
ce70855bb79f7086da0e4974f7324ac1     1
a19b529d70b6aa8addb01c2721350ba3     1
f18f5dcedf8a6caf530bf0cad9937b4f     1
Name: order_id, Length: 98666, dtype: int64

In [ ]:
df_qtde_itens_X_pedido = pd.DataFrame(df_items['order_id'].value_counts())
df_qtde_itens = df_qtde_itens_X_pedido[df_qtde_itens_X_pedido['order_id'] > 1]
df_qtde_itens

                                  order_id
8272b63d03f5f79c56e9e4120aec44ef        21
ab14fdcfbe524636d65ee38360e22ce8        20
1b15974a0141d54e36626dca3fdc731a        20
428a2f660dc84138d969ccd69a0ab6d5        15
9ef13efd6949e4573a18964dd1bbe7f5        15
...                                    ...
83ca3ab77b87118d0a71a84ddfc9e31e         2
687b6310118e5776dd599634c9dc51fc         2
9bcae940b24680a6ca263ec7ffb30ccb         2
f4fdb235ce7c1f7d3eb1b2fdd3a4f610         2
fa37c4d7efdb58513147c124a078bc54         2

[9803 rows x 1 columns]

Inicio área de teste:

In [ ]:
lista_pedidos = df_qtde_itens.index
lista_pedidos

Index(['8272b63d03f5f79c56e9e4120aec44ef', 'ab14fdcfbe524636d65ee38360e22ce8',
       '1b15974a0141d54e36626dca3fdc731a', '428a2f660dc84138d969ccd69a0ab6d5',
       '9ef13efd6949e4573a18964dd1bbe7f5', '73c8ab38f07dc94389065f7eba4f297a',
       '9bdc4d4c71aa1de4606060929dee888c', '37ee401157a3a0b28c9c6d0ed8c3b24b',
       'af822dacd6f5cff7376413c03a388bb7', '3a213fcdfe7d98be74ea0dc05a8b31ae',
       ...
       '04ee5eeac980a849efb5ac99abf87259', 'eef98923f3fe58345e2aa0ff71f97bd7',
       '466fa6875c92ccd8425b0a91a8d1a771', '54c4c0c7e9a1d272defcf15ea985bef7',
       'd744f890bf27c2aa635c5d82b2ca0c8a', '83ca3ab77b87118d0a71a84ddfc9e31e',
       '687b6310118e5776dd599634c9dc51fc', '9bcae940b24680a6ca263ec7ffb30ccb',
       'f4fdb235ce7c1f7d3eb1b2fdd3a4f610', 'fa37c4d7efdb58513147c124a078bc54'],
      dtype='object', length=9803)

In [ ]:
######

lins = {}
cols = df_items.columns
df_aux = pd.DataFrame(lins, columns=cols)

for id_ped in lista_pedidos:

  df_rascunho = df_items.loc[df_items['order_id'] == id_ped]
  #print(df_rascunho.info)
  df_lista_prod = pd.DataFrame(df_rascunho['product_id'].value_counts())
  df_rascunho['order_item_id'] = 0  
  df_rascunho = df_rascunho.drop_duplicates() 
  
  for id_prod in df_lista_prod.index:
    df_rascunho['order_item_id'] = df_lista_prod.values
 
  df_aux = df_aux.append(df_rascunho)
  #print(df_aux.shape) 

######

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
df_aux

                               order_id order_item_id  ...   price freight_value
19769  8272b63d03f5f79c56e9e4120aec44ef            10  ...    1.20          7.89
19770  8272b63d03f5f79c56e9e4120aec44ef            10  ...    1.20          7.89
19789  8272b63d03f5f79c56e9e4120aec44ef             1  ...    7.80          6.57
91148  ab14fdcfbe524636d65ee38360e22ce8            20  ...   98.70         14.44
68460  1b15974a0141d54e36626dca3fdc731a            20  ...  100.00         10.12
...                                 ...           ...  ...     ...           ...
13122  9bcae940b24680a6ca263ec7ffb30ccb             1  ...   19.95          3.35
13123  9bcae940b24680a6ca263ec7ffb30ccb             1  ...   27.93         26.84
296    f4fdb235ce7c1f7d3eb1b2fdd3a4f610             1  ...   17.90         15.10
297    f4fdb235ce7c1f7d3eb1b2fdd3a4f610             1  ...   17.90         15.10
86246  fa37c4d7efdb58513147c124a078bc54             2  ...   31.90         15.20

[13562 rows x 7 columns]

In [ ]:
df_qtde_itens_X_pedido

                                  order_id
8272b63d03f5f79c56e9e4120aec44ef        21
ab14fdcfbe524636d65ee38360e22ce8        20
1b15974a0141d54e36626dca3fdc731a        20
428a2f660dc84138d969ccd69a0ab6d5        15
9ef13efd6949e4573a18964dd1bbe7f5        15
...                                    ...
eb61a98487395d9b7a135acd3d6905a5         1
7b1b657e9cd1e1d807d0b89c08431139         1
ce70855bb79f7086da0e4974f7324ac1         1
a19b529d70b6aa8addb01c2721350ba3         1
f18f5dcedf8a6caf530bf0cad9937b4f         1

[98666 rows x 1 columns]

In [ ]:
lst_itens_unicos = df_qtde_itens_X_pedido[df_qtde_itens_X_pedido['order_id'] == 1]
lst_itens_unicos

                                  order_id
e006227af733ca3bcba32f5577afd6d6         1
b65f0508b5b5fa22d363a4e5f2462553         1
8f9db38034b12eea6ef545d8071c249e         1
258dc8334fda68e1474385c00298c877         1
ac9c563c1293db37e4a035f8ee3763db         1
...                                    ...
eb61a98487395d9b7a135acd3d6905a5         1
7b1b657e9cd1e1d807d0b89c08431139         1
ce70855bb79f7086da0e4974f7324ac1         1
a19b529d70b6aa8addb01c2721350ba3         1
f18f5dcedf8a6caf530bf0cad9937b4f         1

[88863 rows x 1 columns]

In [ ]:
lins = {}
cols = df_items.columns
df_result = pd.DataFrame(lins, columns=cols)

for id_ped in lst_itens_unicos:
  df_result = df_items.loc[df_items['order_id'] == id_ped]

df_result = df_result.append(df_aux)

In [ ]:
df_result.shape

(13562, 7)

In [ ]:
df_result.head()

                               order_id order_item_id  ...  price freight_value
19769  8272b63d03f5f79c56e9e4120aec44ef            10  ...    1.2          7.89
19770  8272b63d03f5f79c56e9e4120aec44ef            10  ...    1.2          7.89
19789  8272b63d03f5f79c56e9e4120aec44ef             1  ...    7.8          6.57
91148  ab14fdcfbe524636d65ee38360e22ce8            20  ...   98.7         14.44
68460  1b15974a0141d54e36626dca3fdc731a            20  ...  100.0         10.12

[5 rows x 7 columns]

In [ ]:
df_result.tail()

                               order_id order_item_id  ...  price freight_value
13122  9bcae940b24680a6ca263ec7ffb30ccb             1  ...  19.95          3.35
13123  9bcae940b24680a6ca263ec7ffb30ccb             1  ...  27.93         26.84
296    f4fdb235ce7c1f7d3eb1b2fdd3a4f610             1  ...  17.90         15.10
297    f4fdb235ce7c1f7d3eb1b2fdd3a4f610             1  ...  17.90         15.10
86246  fa37c4d7efdb58513147c124a078bc54             2  ...  31.90         15.20

[5 rows x 7 columns]

In [ ]:
new_names = {'order_id':'ID_PEDIDO', 'order_item_id':'QTD_PROD', 'product_id':'ID_PRODUTOS', 'seller_id':'ID_VENDEDOR', \
             'shipping_limit_date':'DT_LIMITE_ENTREGA', 'price':'VL_PROD', 'freight_value':'VL_FRETE'}
df_result.rename(columns=new_names, inplace=True)

In [ ]:
df_result

                              ID_PEDIDO QTD_ITENS  ... VL_PROD VL_FRETE
19769  8272b63d03f5f79c56e9e4120aec44ef        10  ...    1.20     7.89
19770  8272b63d03f5f79c56e9e4120aec44ef        10  ...    1.20     7.89
19789  8272b63d03f5f79c56e9e4120aec44ef         1  ...    7.80     6.57
91148  ab14fdcfbe524636d65ee38360e22ce8        20  ...   98.70    14.44
68460  1b15974a0141d54e36626dca3fdc731a        20  ...  100.00    10.12
...                                 ...       ...  ...     ...      ...
13122  9bcae940b24680a6ca263ec7ffb30ccb         1  ...   19.95     3.35
13123  9bcae940b24680a6ca263ec7ffb30ccb         1  ...   27.93    26.84
296    f4fdb235ce7c1f7d3eb1b2fdd3a4f610         1  ...   17.90    15.10
297    f4fdb235ce7c1f7d3eb1b2fdd3a4f610         1  ...   17.90    15.10
86246  fa37c4d7efdb58513147c124a078bc54         2  ...   31.90    15.20

[13562 rows x 7 columns]

In [ ]:
df_result = df_result.sort_index(ascending=True)
df_result

                               ID_PEDIDO QTD_ITENS  ... VL_PROD VL_FRETE
14      0aed18a03ea2ccdb5981aea3524b304d         1  ...  109.00    52.72
15      0aed18a03ea2ccdb5981aea3524b304d         1  ...   99.00    52.71
20      0f548bd29148ebc519d6495e37a284e1         2  ...   99.00    33.08
25      15816297ce3f82c12bdfacebb7f445b5         2  ...   89.00    37.92
27      15d972c5dd4501e8d219acbe1bea1519         2  ...   99.99    51.83
...                                  ...       ...  ...     ...      ...
112573  130ad13d352ea9a42e192286ce0bb54f         1  ...   39.80    17.27
112597  6b353bba58520d286313c6f64cc078ff         2  ...  174.90    94.52
112603  8a4c749f6b6350f68770c00405f8612a         1  ...   89.00    14.47
112610  ab2a998670fda3ed78ed05b73fa62ef9         1  ...   78.90     9.94
112626  ece1fa4a929c6a0e8b6678e10b2ac642         1  ...   98.00    17.83

[13562 rows x 7 columns]

In [ ]:
df_result.tail(10)

                               ID_PEDIDO QTD_PROD  ... VL_PROD VL_FRETE
112509  1c8b4e99b0bc55e61bda13d020efb26d        1  ...   87.37    10.22
112513  4b4b94ef72b5f4fe86ce88a01b54e7a7        2  ...   84.99    24.72
112529  e88f34a80788f768c175e94c622d7559        2  ...   30.05    12.79
112539  427a58275f0da4b6f1f58f4df099af34        2  ...  214.00    98.87
112552  ea4286567e0283e5437a80dafadc9a4d        2  ...   63.60    12.96
112573  130ad13d352ea9a42e192286ce0bb54f        1  ...   39.80    17.27
112597  6b353bba58520d286313c6f64cc078ff        2  ...  174.90    94.52
112603  8a4c749f6b6350f68770c00405f8612a        1  ...   89.00    14.47
112610  ab2a998670fda3ed78ed05b73fa62ef9        1  ...   78.90     9.94
112626  ece1fa4a929c6a0e8b6678e10b2ac642        1  ...   98.00    17.83

[10 rows x 7 columns]

In [ ]:
df_result.to_excel('/content/drive/My Drive/Dados_DS/Dados Olist/Tab_Conexao.xlsx')