<a href="https://colab.research.google.com/github/MariaElisaOliveiraMartins/DS_Analises/blob/main/etl_pns2019_tot_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Descrição deste trabalho: 

Objetivo: elaboração de um processo de ETL da base de dados PNS de 2019 para efeito de estudo independente sobre as condições de saúde da população idosa. 

Fonte de Dados: Site do IBGE

Processo:

1) Extração aleatória de uma amostra da base PNS.

2) Carga do arquivo de metadados da base PNS.

3) Geração de um novo dataframe preenchido com os dados da amostra nas respectivas colunas, de acordo com os metadados. 

4) Limpeza e gravação do dataframe gerado.

Resultado: geração de um arquivo cvs contendo uma amostra já tratada dos dados extraídos da base PNS. 

Data do trabalho: Dez/2020

In [1]:
# Acessa o Google Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importa as bibliotecas

import pandas as pd 
import numpy as np 
import seaborn as sbn 
from matplotlib import pyplot as plt

In [3]:
# Carrega a base de dados do PNS.

base_PNS = pd.read_csv('/content/drive/MyDrive/Dados_DS/PNS_2019.txt') 
#bkp_base_PNS = base_PNS.copy()
base_PNS.shape

(293725, 1)

In [13]:
# Extrai aleatóriamente uma amostra da base PNS e ordena pela nro. da linha.

amostra = base_PNS.sample(frac=0.01, replace=True) # pega 1%
df_amostra_PNS = pd.DataFrame(amostra).sort_index()
df_amostra_PNS.shape

(2937, 1)

In [15]:
# Confere a amostra obtida (início).

df_amostra_PNS.head()

                                                  REGS
6    111110011110000016000201201904110 111104033215...
146  111110011110000584000401201905119 111105021 15...
159  1111100111100005840008052019 .11       . .    ...
271  111110011110002149001201201905110 111108033215...
337  111110011110002929000201201907111 141308043215...

In [16]:
# Confere a amostra obtida (final).

df_amostra_PNS.tail()

                                                     REGS
293393  535310220530023953000101201902210 111107011 11...
293467  535310220530025265001201201904211 111305022216...
293487  535310220530028975000401201904210 111106033211...
293521  535310220530028975001501201902211 111307013211...
293710  535310220530044434001001201902210 111305022216...

In [17]:
# Confere acesso aos dados da amostra pelo indice do dataframe. 

print('primeira linha da amostra = ' , df_amostra_PNS.iloc[0])
print('última linha da amostra   = ' , df_amostra_PNS.iloc[df_amostra_PNS.shape[0]-1])

primeira linha da amostra =  REGS    111110011110000016000201201904110 111104033215...
Name: 6, dtype: object
última linha da amostra   =  REGS    535310220530044434001001201902210 111305022216...
Name: 293710, dtype: object

In [20]:
# Carga da planilha de metadados da base PNS.

df_dic_PNS2019 = pd.read_csv('/content/drive/MyDrive/Dados_DS/dicionario_tot_PNS_microdados_2019.csv', sep='\t')
df_dic_PNS2019.shape

(682, 3)

In [21]:
# Confere a carga da planilha de metadados.

df_dic_PNS2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   offset   682 non-null    int64
 1   collen   682 non-null    int64
 2   colname  682 non-null    object
dtypes: int64(2), object(1)
memory usage: 16.1+ KB

In [22]:
df_dic_PNS2019.head()

   offset  collen    colname
0       1       2      V0001
1       3       7      V0024
2      10       9    UPA_PNS
3      19       4  V0006_PNS
4      23       2      V0015

In [26]:
# Gera uma nova coluna de offset subtraindo 1 posição para compatibilidade com o python.
df_dic_PNS2019['new_offset'] = df_dic_PNS2019['offset'] - 1
df_dic_PNS2019.head()

   offset  collen    colname  new_offset
0       1       2      V0001           0
1       3       7      V0024           2
2      10       9    UPA_PNS           9
3      19       4  V0006_PNS          18
4      23       2      V0015          22

In [27]:
# Cria um novo dataframe para conter os dados que serão tratados e utilizados na análise. 

df_new_PNS2019 = pd.DataFrame(index=range(0, df_amostra_PNS.shape[0]), columns=df_dic_PNS2019['colname'])
df_new_PNS2019.shape

(2937, 682)

In [28]:
# Confere a geração do novo dataframe.

df_new_PNS2019.head()

colname V0001 V0024 UPA_PNS V0006_PNS V0015  ... VDE002 VDF002 VDF003 VDF004 VDDATA
0         NaN   NaN     NaN       NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN
1         NaN   NaN     NaN       NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN
2         NaN   NaN     NaN       NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN
3         NaN   NaN     NaN       NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN
4         NaN   NaN     NaN       NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN

[5 rows x 682 columns]

In [29]:
# teste: seleção dos dados da amostra pelo offset.

aux = df_amostra_PNS.iloc[0]['REGS']
print(type(aux))
print(aux)
print(aux[0:10])

<class 'str'>
111110011110000016000201201904110 11110403321501 . 411011011012 .1031012 .2 .2 .12 .10100000001 .145504010121212198503312 .2   12  .4112  .  .  1071 101  2011        . . .152216   56011100000500        . 036        .        .   .  . .  .  . . .  222222211111112205612       .2       .2       .2       .122 .  .        1222 . .   .2 2 .2  .42 .    . .       .       012 .  . .    2     2           1                     .    .     .  .                                             .  .       . . .    . .   . .  . .   . .          .  . .  . .  . .  . .  . .  . .  . .   . . . . . .          .               .  .        .                             .  .   .           .                                         .             .        .         .             .         .        .          .  .       .           .           .                      .   .         .           .      .  .     .    .    .    .    .    . 00085.58908480     .                .        00118.31182322     .                .        000529479        .                .        111    . .04042110000100000000250220201105
1111100111

In [30]:
# Distribui e preenche o novo dataframe com os dados da amostra, conforme descreve os metadados.

qtdlin = df_new_PNS2019.shape[0]
qtdcol = df_new_PNS2019.shape[1]

linha = 0

for idx in range(0, qtdlin):
  
  aux = df_amostra_PNS.iloc[idx]['REGS']

  #print(linha, ' = ', idx, ' - ', aux, '\n')
  

  for ptr in  range(0, qtdcol):

    desloc = df_dic_PNS2019.iloc[ptr]['new_offset']
    tam = desloc + df_dic_PNS2019.iloc[ptr]['collen']
    coluna = df_dic_PNS2019.iloc[ptr]['colname']
    
    df_new_PNS2019.iloc[idx][coluna] = aux[desloc:tam]
    
    #print(desloc, tam, coluna, '|', aux[desloc:tam], '|')

  linha += 1

linha

2937

In [32]:
# Confere o resultado de preenchimento e distribuição dos dados da amostra no novo dataframe (inicio).

df_new_PNS2019.head()

colname V0001    V0024    UPA_PNS  ...    VDF003 VDF004    VDDATA
0          11  1110011  110000016  ...  00000250      2  20201105
1          11  1110011  110000584  ...  00000560      3  20201105
2          11  1110011  110000584  ...         .      .  20201105
3          11  1110011  110002149  ...  00000600      3  20201105
4          11  1110011  110002929  ...  00001400      4  20201105

[5 rows x 682 columns]

In [33]:
# Confere o resultado do processo preenchimento e distribuição dos dados da amostra no novo dataframe (final).

df_new_PNS2019.tail()

colname V0001    V0024    UPA_PNS  ...    VDF003 VDF004    VDDATA
2932       53  5310220  530023953  ...  00000499      2  20201105
2933       53  5310220  530025265  ...  00000075      1  20201105
2934       53  5310220  530028975  ...  00003250      6  20201105
2935       53  5310220  530028975  ...  00001000      4  20201105
2936       53  5310220  530044434  ...  00001500      4  20201105

[5 rows x 682 columns]

In [38]:
# Verifica a existencias de nulos no novo dataframe.

(df_new_PNS2019[df_new_PNS2019.notna()].count()).values

array([2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937,
       2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937, 2937])

In [ ]:
# Salva o resultado do processo de ETL no Google Drive

df_new_PNS2019.to_csv('/content/drive/MyDrive/Dados_DS/new_PNS2019.csv')

### Fim do Processo